<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kerolsme.dropboxfirebase">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.DropBoxFirebase"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Premium"
            android:exported="false" />
        <activity
            android:name=".Activity.search"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false" />

        <receiver
            android:name=".BroadCast_Utilts.CloseNotification"
            android:exported="false"
            android:permission="TODO">
        </receiver>


        <service android:name=".Service.Download"
            android:foregroundServiceType="dataSync"/>
        <service android:name=".Service.Upload"
            android:foregroundServiceType="dataSync"/>

        <activity
            android:name=".Activity.ViewContent"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>